.submitDiv {
  position: relative;
  left: 4%;
  display: inline-block;
}

.resetDiv {
  position: relative;
  left: 4%;
  display: inline-block;
}

#answerText {
  width: 74rem;
  height: 16em;
  font-size: 1.4rem;
  border-radius: 10px;
}
.questionInput {
  font-size: 1.4rem;
  border-radius: 10px;
  width: 40em;
  height: 20rem;
}
.submitInput {
  font-size: 1.5rem;
  width: 5em;
  height: 5rem;
  border-radius: 10px;
  margin: 1em 0;
}
.resetInput {
  font-size: 1.5rem;
  width: 5em;
  height: 5rem;
  border-radius: 10px;
  margin: 1em 0;
}
.form_div {
  width: 60%;
  position: relative;
  left: 14%;
  top: 1.5rem;
}
.answerLabelDiv {
  position: relative;
  left: 7%;
}
.questLabelDiv {
  left: 17%;
  position: relative;
}

.btnsDiv {
  position: relative;
  left: 37%;
}

.btnsDiv > div {
  margin: 0 2em;
}
